@model IEnumerable< WebApp.UI.Pages.Products.IndexModel.ProductViewModel>

<div id="product-main">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Value</th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Value)
                    </td>

                    <td>
                        <a asp-route-id="@product.Id" asp-page="/Admin/Products/Update" class="fa fa-edit">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <button onclick="confirmAction(event)" data-product-id="@product.Id" type="button" class="btn-danger small">Delete</button>                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
