@*@model IEnumerable<WebApp.UI.Models.CartViewModel>*@
@model WebApp.UI.Pages.CartModel
<style>
    .money {
        font-size: 18px;
        font-weight: 500;
        color: #212121;
    }
</style>


<main class="col-md-9">
    <div class="card">

        <table class="table table-borderless table-shopping-cart" id="cart-main">
            <thead class="text-muted">
                <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                    <th scope="col" class="text-right" width="200"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.CartList)
                {
                    <tr>
                        <td>
                            <figure class="itemside">
                                <div class="aside"><img src="@product.ProductImages.FirstOrDefault(x=>x.Type=="main")?.RelativePath" class="img-sm"></div>
                                <figcaption class="info">
                                    <a href="#" class="title text-dark">@product.Name</a>
                                    <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button class="btn btn-sm" type="button"
                                        onclick="removeOneFromCart(event)"
                                        data-product-id="@product.ProductId" data-user-id="@User.Identity.Name">
                                    -
                                </button>
                                <a href="#" class="border">@product.Qty</a>
                                <button class="btn btn-sm" type="button"
                                        onclick="addOneToCart(event)"
                                        data-product-id="@product.ProductId" data-user-id="@User.Identity.Name">
                                    +
                                </button>
                            }
                            else
                            {
                                <button class="button" type="button"
                                        onclick="removeOneFromCartSession(event)" data-product-id="@product.ProductId" data-quantity="@product.Qty">
                                    -
                                </button>
                                <a href="#" class="border">@product.Qty</a>
                                <button class="button" type="button"
                                        onclick="addOneToCartSession(event)" data-product-id="@product.ProductId" data-quantity="@product.Qty">
                                    +
                                </button>
                            }

                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">@product.Value</var>
                                <small class="text-muted"> ₹@product.Value each </small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                            <button onclick="removeFromCart(event)"
                                    data-product-id="@product.ProductId" data-user-id="@User.Identity.Name" class="btn btn-light">
                                Remove
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="card-body border-top">
            <a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
            <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
        </div>
    </div> <!-- card.// -->

    <div class="alert alert-success mt-3">
        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
    </div>

</main> <!-- col.// -->
<aside class="col-md-3">
    <div class="card mb-3">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Have coupon?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                        <span class="input-group-append">
                            <button class="btn btn-primary">Apply</button>
                        </span>
                    </div>
                </div>
            </form>
        </div> <!-- card-body.// -->
    </div>  <!-- card .// -->
    <div class="card">
        <div class="card-body">
            <dl class="dlist-align">
                <dt>Total price:</dt>
                <dd class="text-right">USD 568</dd>
            </dl>
            <dl class="dlist-align">
                <dt>Discount:</dt>
                <dd class="text-right">USD 658</dd>
            </dl>
            <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-right  h5"><strong>$1,650</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
                <img src="images/misc/payments.png" height="26">
            </p>

        </div> <!-- card-body.// -->
    </div>  <!-- card .// -->
</aside> <!-- col.// -->


@*<div class="row" id="cart-main">
    <div class="col-md-8 cart">
        <div class="title">
            <div class="row">
                <div class="col">
                    <h4><b>Shopping Cart</b></h4>
                </div>
                <div class="col align-self-center text-right text-muted">3 items</div>
            </div>
        </div>
        @foreach (var product in Model.CartList)
        {
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row">@product.Name </div>
                        <span class="money">₹@product.Value</span>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col">
                            <button class="button" type="button"
                                    onclick="removeOneFromCart(event)"
                                    data-product-id="@product.ProductId" data-user-id="@User.Identity.Name">
                                -
                            </button>
                            <a href="#" class="border">@product.Qty</a>
                            <button class="button" type="button"
                                    onclick="addOneToCart(event)"
                                    data-product-id="@product.ProductId" data-user-id="@User.Identity.Name">
                                +
                            </button>
                        </div>
                        <div class="col">
                            @{
                                var productAmt = (@product.Qty * @product.Value);

                            } ₹ @productAmt
                            <button onclick="removeFromCart(event)"
                                    data-product-id="@product.ProductId" data-user-id="@User.Identity.Name" class="button">
                                X
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="col">
                            <button class="button" type="button"
                                    onclick="removeOneFromCartSession(event)" data-product-id="@product.ProductId" data-quantity="@product.Qty">
                                -
                            </button>
                            <a href="#" class="border">@product.Qty</a>
                            <button class="button" type="button"
                                    onclick="addOneToCartSession(event)" data-product-id="@product.ProductId" data-quantity="@product.Qty">
                                +
                            </button>
                        </div>
                        <div class="col">
                            @{
                                var productAmt = (@product.Qty * @product.Value);

                            } ₹ @productAmt
                            <button onclick="removeProductFromCartSession(event)" type="button"
                                    data-product-id="@product.ProductId" class="button">
                                X
                            </button>
                        </div>
                    }

                </div>

            </div>
        }
        <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
    </div>
    <div class="col-md-4 summary">
        <div>
            <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
            <div class="col" style="padding-left:0;">ITEMS 3</div>
            <div class="col text-right">₹ @Model.GetTotalCharge() </div>
        </div>
        <form>
            <p>SHIPPING</p> <select>
                <option class="text-muted">Standard-Delivery- &euro;5.00</option>
            </select>
            <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
        </form>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">TOTAL PRICE</div>
            <div class="col text-right">₹ @Model.GetTotalCharge()</div>
        </div>
        @if (Model.CartList.Count() > 0)
        {
            <a asp-page="/Checkout/CustomerImformation" class="btn btn-success is-success">Checkout</a>
        }
    </div>
</div>*@