@page "{name}"
@model WebApp.UI.Pages.ProductModel
@{
    ViewData["Title"] = Model.Input.Name;
}
<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<style>
    .card {
        background-color: #fff;
        padding: 14px;
        border: none
    }

    .demo {
        width: 100%
    }


    img {
        display: block;
        height: auto;
        width: 100%
    }
</style>
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="card">
                            <div class="demo">
                                <ul id="lightSlider">
                                    @{
                                        if (Model.Input.ProductImages != null)
                                        {
                                            foreach (var image in Model.Input.ProductImages)
                                            {
                                                <li data-thumb="@image.RelativePath"> <img src="@image.RelativePath" style="height:500px" /> </li>

                                            }
                                        }
                                    }

                                </ul>
                            </div>
                        </div>



                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">@Model.Input.Name</h2>

                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active">
                                    <img src="../images/icons/stars-active.svg" alt="">
                                </li>
                                <li>
                                    <img src="../images/icons/starts-disable.svg" alt="">
                                </li>
                            </ul>
                            <small class="label-rating text-muted">132 reviews</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                        </div> <!-- rating-wrap.// -->

                        <div class="mb-3">
                            <var class="price h4">Rs. @Model.Input.Value</var>
                            <span class="text-muted">/Pack of 100 pcs</span>
                        </div>

                        <p>@Model.Input.Description</p>

                        <dl class="row">
                            <dt class="col-sm-3">Model#</dt>
                            <dd class="col-sm-9">Odsy-1000</dd>

                            <dt class="col-sm-3">Color</dt>
                            <dd class="col-sm-9">Brown</dd>

                            <dt class="col-sm-3">Delivery</dt>
                            <dd class="col-sm-9">Russia, USA, and Europe </dd>
                        </dl>

                        <hr>
                        <div class="row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Quantity</label>
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                            <div class="form-group col-md">
                                <label>Select size</label>
                                <div class="mt-2">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" checked="" class="custom-control-input">
                                        <div class="custom-control-label">Small</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Medium</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Large</div>
                                    </label>

                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" onclick="addOneToCart(event)" id="@Model.Input.Id" data-product-id="@Model.Input.Id"
                                        data-user-id="@User.Identity.Name" class="btn btn-success">
                                    Add To Cart
                                </button>
                            }
                            else
                            {
                                if (Model.Input.IsInCart == true)
                                {
                                    <button type="button" disabled
                                            class="btn btn-success">
                                        <span class="text">Buy Now</span> <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <a class="btn btn-success" asp-page="/Cart">
                                        <span class="text">Go To Cart</span> <i class="fas fa-shopping-cart"></i>
                                    </a>
                                }
                                else
                                {
                                    <button type="button" onclick="addProductToCartSession(event)" id="startDeviceScan"
                                            data-product-id="@Model.Input.Id"
                                            data-productname="@Model.Input.Name"
                                            data-relativepath="@Model.Input.ProductImages.FirstOrDefault(x=>x.Type=="main")?.RelativePath"
                                            class="btn btn-outline-primary">
                                        Add to cart <i class="fas fa-shopping-cart"></i>
                                    </button>

                                    <div style="display:none" id="gotoCart">
                                        <button type="button" disabled
                                                class="btn btn-success">
                                            <span class="text">Buy Now</span> <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <a class="btn btn-success" asp-page="/Cart">
                                            <span class="text">Go To Cart</span> <i class="fas fa-shopping-cart"></i>
                                        </a>

                                    </div>
                                }
                            }
                        }

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
    </div>
</section>



@section scripts {
    <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
    <script>
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 9
        });
    </script>
    <script>
     var formData = {
         "productId": "",
         "name": "",
         "qty": 1,
         "value": 0,
         "userId": "",
         "relativePath": "",
     };
     // var apiUrl = "https://localhost:44347";
    // var apiUrl = "http://api.robustpackagingeshop.com";
     var apiUrl = '@Model.ApiUrl';
     let addOneToCart = function (e) {
         let productId = e.target.dataset.productId;
         let userName = e.target.dataset.userId;
         this.formData.productId = productId;
         this.formData.userId = userName;
        // alert(productId);
         axios.post(apiUrl + "/api/Cart/addtocart", this.formData)
             .then(res => {
                 console.log(res.data);
                 let button = document.getElementById(productId);
                 button.disabled = true;
             })
             .catch(err => {
                 alert(err.error);
             })
     };
     //$( "#startDeviceScan" ).on( "click", addProductToCartSession(e));
        function addProductToCartSession (e) {
             e.preventDefault();
         let productId = e.target.dataset.productId;
         let productName = e.target.dataset.productname;
         let relativePath = e.target.dataset.relativepath;
         this.formData.productId = productId;
         this.formData.name = productName;
         this.formData.relativePath = relativePath;
         this.formData.qty = 1;
         if(productId===undefined)
         return false;
         alert(relativePath);
         axios({
             url: "/UserAccount/AddOneProductToCartSession",
             method: "post",
             data: this.formData,
             headers: {
                 'Content-Type': "application/json"
             }
         }).then(res => {
             console.log(res.data);
             let button =$("#startDeviceScan");
            // button.disabled = true;
             button.css("display", "none");
             let button2 = $("#gotoCart");
             button2.css("display", "block");
           //  button2.innerHTML = "show";
           //  button2.show();
         })
             .catch(err => {
                 alert(err.error);
             })
     };
    </script>
}
