@page "{name}"
@model WebApp.UI.Pages.ProductModel
@{
    ViewData["Title"] = Model.Input.Name;
}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="@Model.Input.ProductImages.FirstOrDefault(x=>x.Type=="main")?.RelativePath" class="card-img-top" style="width:500px;height:500px"></a>
                        </div> <!-- img-big-wrap.// -->
                        <div class="thumbs-wrap">
                            @{
                                if (Model.Input.ProductImages != null)
                                {
                                    foreach (var image in Model.Input.ProductImages)
                                    {
                                        <a href="#" class="item-thumb"> <img src="@image.RelativePath" style="width:150px;height:100px"></a>
                                    }
                                }
                            }
                        </div> <!-- thumbs-wrap.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">@Model.Input.Name</h2>

                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active">
                                    <img src="../images/icons/stars-active.svg" alt="">
                                </li>
                                <li>
                                    <img src="../images/icons/starts-disable.svg" alt="">
                                </li>
                            </ul>
                            <small class="label-rating text-muted">132 reviews</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                        </div> <!-- rating-wrap.// -->

                        <div class="mb-3">
                            <var class="price h4">Rs. @Model.Input.Value</var>
                            <span class="text-muted">/Pack of 100 pcs</span>
                        </div>

                        <p>@Model.Input.Description</p>

                        <dl class="row">
                            <dt class="col-sm-3">Model#</dt>
                            <dd class="col-sm-9">Odsy-1000</dd>

                            <dt class="col-sm-3">Color</dt>
                            <dd class="col-sm-9">Brown</dd>

                            <dt class="col-sm-3">Delivery</dt>
                            <dd class="col-sm-9">Russia, USA, and Europe </dd>
                        </dl>

                        <hr>
                        <div class="row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Quantity</label>
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                            <div class="form-group col-md">
                                <label>Select size</label>
                                <div class="mt-2">
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" checked="" class="custom-control-input">
                                        <div class="custom-control-label">Small</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Medium</div>
                                    </label>

                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="select_size" class="custom-control-input">
                                        <div class="custom-control-label">Large</div>
                                    </label>

                                </div>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" onclick="addOneToCart(event)" id="@Model.Input.Id" data-product-id="@Model.Input.Id"
                                        data-user-id="@User.Identity.Name" class="btn btn-success">
                                    Add To Cart
                                </button>
                            }
                            else
                            {
                                if (Model.Input.IsInCart == true)
                                {
                                    <button type="button" disabled id="@Model.Input.Id" data-product-id="@Model.Input.Id" class="btn btn-success">
                                        <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" onclick="addProductToCartSession(event)" id="@Model.Input.Id" data-product-id="@Model.Input.Id"
                                            data-productname="@Model.Input.Name" class="btn btn-outline-primary">
                                        <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
                                    </button>
                                }
                            }
                        }

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
    </div>
</section>

@section scripts {

    <script>
        var formData = {
            "productId": "",
            "name": "",
            "qty": 1,
            "value": 0,
            "userId": ""
        };
        // var apiUrl = "https://localhost:44347";
       // var apiUrl = "http://api.robustpackagingeshop.com";
        var apiUrl = '@Model.ApiUrl';
        let addOneToCart = function (e) {
            let productId = e.target.dataset.productId;
            let userName = e.target.dataset.userId;
            this.formData.productId = productId;
            this.formData.userId = userName;
           // alert(productId);
            axios.post(apiUrl + "/api/Cart/addtocart", this.formData)
                .then(res => {
                    console.log(res.data);
                    let button = document.getElementById(productId);
                    button.disabled = true;
                })
                .catch(err => {
                    alert(err.error);
                })
        };

        let addProductToCartSession = function (e) {
            let productId = e.target.dataset.productId;
            let productName = e.target.dataset.productname;
            this.formData.productId = productId;
            this.formData.name = productName;
            this.formData.qty = 1;
            axios({
                url: "/UserAccount/AddOneProductToCartSession",
                method: "post",
                data: this.formData,
                headers: {
                    'Content-Type': "application/json"
                }
            }).then(res => {
                console.log(res.data);
                let button = document.getElementById(productId);
                button.disabled = true;
            })
                .catch(err => {
                    alert(err.error);
                })
        };
    </script>
}
